/*This is the format for css:
selector {
  property: value;
  }
  */

header h1 {
 color: #00802b; 
  }

header {
  background-image: url("https://shutterstock.7eer.net/c/106918/43068/1305?u=http://www.shutterstock.com/pic.mhtml?id=366640016");
  width: 100%;
  padding: 50px;
  text-align: center;
  background-size: cover;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}
li a {
  display: black;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
nav ul li a:hover {
    color: red;
}
  
img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
}

img: hover{
  border-radius: 0px;
}

#green, #blue {
  background: green;
  color: white;
  font size: 20px;
  font-style:italic;
}

#green {background: green;}
#blue {background: blue;}



