/*This is the format for css:
selector {
  property: value;
  }
  */

header h1 {
 color: #F2F29E; 
  font size: 20px;
  }

header {
  background-image: url("https://i.ytimg.com/vi/oi2o2r3Sgc0/maxresdefault.jpg");
  width: 100%;
  height: 350px;
  padding: 10px;
  text-align: center;
  background-size: cover;
  }

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}
li a {
  display: black;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}
nav ul li a:hover {
    color: red;
}
  
img {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  }

img: hover{
  border-radius: 0px;
}

#green, #blue {
  background: green;
  color: white;
  font size: 20px;
  font-style:italic;
}

#green {background: green;}
#blue {background: blue;}

p, img {
  display: none;
}

